<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="spring learn bean">
        <classes>
            <class name="com.sbr.chap1.service.myTest"/>
            <class name="com.sbr.chap1.service.beansetFac"/>
        </classes>
    </test>

</suite>