<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.sbr.pojo.Hello" />
<!--    <bean id="MysqlImpl" class="com.sbr.dao.impl.UserDaoMySqlImpl"/>-->
<!--    <bean id="OracleImpl" class="com.sbr.dao.impl.UserDaoOracleImpl"/>-->
<!--    <bean id="ServiceImpl" class="com.sbr.service.impl.UserServiceImpl">-->
<!--        &lt;!&ndash;注意: 这里的name并不是属性 , 而是set方法后面的那部分 , 首字母小写&ndash;&gt;-->
<!--        &lt;!&ndash;引用另外一个bean , 不是用value 而是用 ref&ndash;&gt;-->
<!--        <property name="userDao" ref="OracleImpl"/>-->
<!--    </bean>-->

<!--    scope 作用域，不设置默认单例 singlote ，多个实体prototype ，Request，http会实例新的，Session一个http session 中实例一次-->
    <bean id="user" class="com.sbr.pojo.User" scope="prototype" >
<!--        <constructor-arg index="0" value="sss"></constructor-arg>-->
        <constructor-arg name="name" value="shenanigan2"/>
    </bean>

    <alias name="user" alias="user2"></alias>
</beans>